.hero {
	background-image: url('/images/uhlb/background-hero-ultimate-bundles.png');
	background-repeat: repeat;
	background-position: center center;
	padding-bottom: 30px;
	padding-top: 15px;
}

.hero__presentedby {
	font-family: "Bebas Neue Bold";
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	text-shadow: 0px 15px 24.36px rgba(4, 5, 5, 0.58);
	font-style: normal;
	text-align: center;
	margin-bottom: 20px;
}

.hero__video__wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.hero__video__wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.takecharge__banner, .takecharge__tools {
	margin-top: 10px;
	margin-bottom: 20px;
}

.hero__presentedby__logo {
	padding-top: 5px;
}

.hero__presentedby__new {
	text-shadow: 0px 15px 24.36px rgba(4, 5, 5, 0.58);
	padding-top: 7px;
	padding-bottom: 14px;
}

.hero__presentedby__button {
	// display: inline-block;
	// vertical-align: middle;
}

.button {
	// background-repeat: no-repeat;
	// background-position: center center;
	// text-transform: uppercase;
	// text-align: center;
}

.hero__video {
	padding-top: 20px;
	margin: 0 auto;
	max-width: 550px;
}

.takecharge {
	max-width: 619px;
	padding-top: 10px;
}



.best {
	padding-top: 40px;
	padding-bottom: 40px;
}

.best__border {
	border: 3px solid #3b1313;
}

.groceries__wrapper {
	max-width: 530px;
}

section, footer, header div{
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-alt {
	background-color: #3b1313;
	padding-top: 20px;
	padding-bottom: 20px;
}

.still__spoon {
	// background-image: url('/images/uhlb/spoon-ultimate-bundles.png');
	background-repeat: no-repeat;
	width: 457px;
	height: 607px;
	position: absolute;
	left: -150px;
}

.still__tomatoes {
	// background-image: url('/images/uhlb/tomatoes-ultimate-bundles.png');
	background-repeat: no-repeat;
	width: 404px;
	height: 552px;
	position: absolute;
	right: -100px;
	top: -100px;
}

main {
	overflow: hidden;
}

input[type=text] , input[type=email]{
	display: block;
	width: 340px;
	height: 41px;
	border: 2px solid #000000;
	padding-left: 5px;
}

input {
	margin-top: 10px;
}

.notify__wrapper {
	margin: 0 auto;
	max-width: 2000px;
	position: relative;
	padding-left: 0 !important;
}

.featuring {
	background-color: #252331;
}

.featuring__authors__image {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.overwhelm {
	// background-image: url('/images/uhlb/background-carrots-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 40px;
	background-color: #3b1313;
}

.overwhelm__takeout {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 1000px;
}

.overwhelm__takeout__because {
	margin-bottom: 20px;
	float: left;
}

.overwhelm__mission {
	margin: 0 auto;
	max-width: 800px;
	padding-top: 20px;
}

.overwhelm__mission__challenges {
	padding-top: 30px;
}

.overwhelm__takeout__types {
	margin-top: 20px;
}

.overwhelm__takeout__types__name {
	font-family: "Bebas Neue Bold";
	color: #6f0f07;
	font-weight: 400;
	margin: 0;
	font-style: normal;
}

.overwhelm__takeout__types__value {
	font-family: "Thirsty Script Light";
	color: #252331;
	margin: 0;
	font-weight: 400;
}

.overwhelm__mission__you {
	font-family: "Thirsty Script Light";
	color: #3b1313;
	font-size: 60px;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
}

.overwhelm__mission__who {
	font-family: "Thirsty Script Light";
	color: #252331;
	font-size: 35px;
	font-weight: 400;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 565px;
}

.overwhelm__mission__string {
	padding-top: 40px;
	padding-bottom: 20px;
	// background-image: url('/images/uhlb/string-dots-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 40px;
}

.sixdays {
	// background-image: url('/images/uhlb/background-6-days-ultimate-bundles.png');
	background-repeat: repeat-x;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 100px;
}

.sixdays__box {
	// background-image: url('/images/uhlb/box-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	max-width: 722px;
	height: 384px;
	display: table;
}

.sixdays__box__afford {
	vertical-align: middle;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 48px;
	display: table-cell;
}

.best__border {
	margin: 0 auto;
	max-width: 800px;
}

.best__border__chicken {
	// background-image: url('/images/uhlb/chicken-2-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 457px;
}

.best__border__thin {
	width: 15px;
	background-color: #ffffff;
	height: 457px;
	float: left;
	border-left: 3px solid #3b1313;
	border-right: 3px solid #3b1313;
}

.best__border__image {
	margin-top: 35px;
	margin-left: 20px;
}

.get {
	// background-image: url('/images/uhlb/background-get-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
}

.groceries {
	max-width: 800px;
	// background-image: url('/images/uhlb/background-strawberries-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: right center;
}

.underline {
	text-decoration: underline;
}

.long {
	background-color: #252331;
}

.long__wrapper {
	margin: 0 auto;
	max-width: 800px;
}

.long__reason {
	padding-top: 30px;
}

.long__reason img {
	margin-bottom: 20px;
}

.cta__guarantee {
	margin-top: 20px;
	margin-bottom: 20px;
}

.cta__creditcards {
	margin-top: 10px;
}

.container-narrow {
	margin: 0 auto;
	max-width: 650px;
}

.testimonial-1 {
	// background-image: url('/images/uhlb/background-wood-ultimate-bundles.png');
	background-position: center;
}

.products {
	// background-image: url('/images/uhlb/background-chalkboard-ultimate-bundles.png');
	background-repeat: repeat-y;
	background-position: center;
}

.products__items {
	border: 3px solid #ffffff;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: middle;
	position: relative;
}

.products__category__image {
	padding-top: 15px;
}

.products__category__bullets li {
	margin-bottom: 0;
}

.testimonial-2 {
	// background-image: url('/images/uhlb/background-bicycle-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
}

.bonuses {
	// background-image: url('/images/uhlb/background-chalkboard-ultimate-bundles.png');
	background-repeat: repeat;
	background-position: center;
}

.bonuses__cucumbers3 {
	// background-image: url('/images/uhlb/cucumbers-3-ultimate-bundles.png');
	background-repeat: no-repeat;
	width: 295px;
	height: 308px;
	position: absolute;
	left: -30px;
	top: auto;
	bottom: auto;
}

.bonuses__cucumbers2 {
	// background-image: url('/images/uhlb/cucumbers-2-ultimate-bundles.png');
	background-repeat: no-repeat;
	width: 285px;
	height: 256px;
	position: absolute;
	left: 930px;
	right: auto;
	top: auto;
}

.bonuses__item {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 60px;
  img {
			vertical-align: middle;
	}
}

.bonuses__item__image {
	border: 3px solid #FFFFFF;
	max-width: 432px;
	margin: 0 auto;
}

.bonuses__item__divider {
	height: 10px;
	background-color: #f8e4a6;
}

.testimonial-3 {
	// background-image: url('/images/uhlb/background-fruit-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
}

.true {
	// background-image: url('/images/uhlb/background-fence-ultimate-bundles.png');
	background-repeat: repeat-y;
	background-position: center;
}

.true__how {
	border: 3px solid #252331;
	display: inline-block;
	max-width: 405px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: top;
}

.true__how__divider {
	height: 13px;
	border-top: 3px solid #252331;
	border-bottom: 3px solid #252331;
}

.true__how__number {
	text-decoration: underline;
}

.true__how__description {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.service {
	background-color: #6f0f08;
}

.bonuses__more {
	margin-top: 20px;
}

.testimonial-4 {
	// background-image: url('/images/uhlb/background-full-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	padding-top: 40px;
	padding-bottom: 40px;
}

.testimonial-4__rectangle {
	// background-image: url('/images/uhlb/fun-rectangle-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 383px;
	margin: 0 auto;
	max-width: 860px;
	overflow: visible;
}

.testimonial-4__quote {
	padding-left: 40px;
	padding-top: 60px;
	overflow: visible;
}

.testimonial-4__divider {
	height: 7px;
	background-color: #252331;
	margin-top: 5px;
	margin-bottom: -15px;
}

.recap {
	position: relative;
}

.recap__carrot {
	// background-image: url('/images/uhlb/background-carrot-ultimate-bundles.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 1037px;
	height: 1311px;
	right: -500px;
	top: -150px;
}

.recap__type__divider {
	width: 113px;
	height: 6px;
	background-color: #6f0f08;
}

.recap__type__image {
	text-align: right;
}

.recap__type__description {
	margin-bottom: 40px;
}

.recap__type__title {
	border-bottom: 6px solid #6f0f08;
	display: inline-block;
}

.faq__answer {
	display: none;
}

.faqs {
	position: relative;
}

.faqs__asperagus {
	// background-image: url('/images/uhlb/background-asparagus-ultimate-bundles.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 229px;
	height: 1314px;
	right: 100px;
	top: 300px;
}

.faqs__question {
	display: inline-block;
	cursor: pointer;
}

.faqs__question--active {
	border-bottom: 8px solid #3b1313;
}

.faq {
	margin-bottom: 20px;
}

.testimonial-5 {
	// background-image: url('/images/uhlb/background-string-lights-ultimate-bundles.png');
	// background-image: url('/images/uhlb/background-full-lights-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #3b1313;
}

.still {
	// background-image: url('/images/uhlb/background-flour-ultimate-bundles.png');
	background-position: center;
	background-repeat: repeat-y;
	padding-bottom: 40px;
	overflow: hidden;
	background-color: #343237;
}

.waiting {
	background-color: #6f0f08;
}

.footer {
	background-color: #252331;
}

.still__happiness {
	margin-top: 50px;
	height: auto;
}

.recap__carrot {
	right: -600px;
}

.featuring__authorsmobile {
	display: none;
}

.featuring__authorsmobile__image {
	margin-top: 20px;
	text-align: center;
}

.products__ebooklistmobile {
	display: none;
}

.products__ecourseslistmobile {
	display: none;
}

.bonuses__listmobile {
	margin-top: 60px;
	display: none;
}

.testimonial-5__rectangle {
	// background-image: url('/images/uhlb/chicken-3-ultimate-bundles.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 374px;
	min-height: 1px;
}

.testimonial-5__happy {
	border-bottom: 7px solid #252331;
	display: inline-block;
}

.testimonial-5__author {
	margin-top: 15px;
}

.testimonial-5__quote {
	margin-top: 50px;
}

.products__description {
	position: absolute;
	width: 380px;
	background-color: #252331;
	z-index: 9;
	top: 40px;
	left: 10px;
	padding-left: 10%;
	padding-right: 10%;
	display: none;
}

.products__description__divider {
	width: 332px;
	height: 7px;
	background-color: #ffffff;
	margin-bottom: 5px;
}

.bonuses__wrapper {
	position: relative;
}

.still__wrapper {
	position: relative;
}

.recap-fluid {
	overflow: hidden;
}

.cta__earlybird {
	margin-top: 20px;
}

.get__mobile {
	display: none;
	visibility: hidden;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271 ;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271 ;
    box-shadow:inset 0px 1px 0px 0px #a4e271 ;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403 ), color-stop(1, #77a809 ));
    background:-moz-linear-gradient(top, #89c403  5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403  5%, #77a809  100%);
    background:-o-linear-gradient(top, #89c403  5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403  5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403  5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403 ', endColorstr='#77a809 ',GradientType=0);
    background-color:#89c403 ;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
		font-family: 'Bebas Neue Bold';
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    padding: 0 24px 6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009 ;
		i {
			margin-left: 10px;
			margin-right: 10px;
		}
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809 ), color-stop(1, #89c403 ));
    background:-moz-linear-gradient(top, #77a809  5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809  5%, #89c403  100%);
    background:-o-linear-gradient(top, #77a809  5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809  5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809  5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809 ', endColorstr='#89c403 ',GradientType=0);
    background-color:#77a809 ;
}

.button:active {
    position:relative;
    top:1px;
}

.button--small {
	font-size: 30px;
	// background-image: url('/images/uhlb/buy-button-small-ultimate-bundles.png');
	// background-repeat: no-repeat;
	// width: 204px;
	// height: 55px;
}

.button--topbar {
	font-size: 30px;
}

.button--small:hover {
	// background-image: url('/images/uhlb/buy-button-small-hover-ultimate-bundles.png');
}

.button--large {
	font-size: 40px;
	padding-top: 12px;
	padding-bottom: 20px;
	font-family: 'Bebas Neue Bold';
}

.featuring__author__image {
	padding-bottom: 10px;
}

.swipe__right, .swipe__left {
	font-family: "Bebas Neue Bold";
	font-size: 80px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -20px;
}

.bonuses__shipping img {
	margin-left: 5px;
	margin-right: 5px;
}

.oddClear:nth-of-type(odd) {
	clear: both;
}

.bonuses__shipping--us {
	transform: rotateY(180deg);
}

.featuring__authorstablet {
	display: none;
}

.featuring__authorstablet__image {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	margin-top: 20px;
}


.hero__content__cta {
	text-align: center;
	h3 {
		float: none;
		width: 100%;
		color: $dark-green;
		font-size: 30px;
		margin-top: 0;
		span {
		color: $silver;
		font-size: 38px;
		display: block;
		text-decoration: line-through;
		}
	}
}
