.header {
	background-image: url('/images/uhlb/notify/background-header-ultimate-bundles.png');
	background-repeat: repeat-y;
	background-position: center;
}

.tan {
	color: #f8b892;
}

.header__launches {
	margin-top: 20px;
}

.header__launches:after {
	content: url('/images/uhlb/notify/launches-right-ultimate-bundles.png');
}

.header__launches:before {
	content: url('/images/uhlb/notify/launches-left-ultimate-bundles.png');
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.header__launches__text {
	vertical-align: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.notify {
	padding-bottom: 0;
	padding-left: 0 !important;
}

.notify-form {
	padding-bottom: 20px;
}

.endedForm {
	margin: 0 auto;
}

.next__facebook {
	margin-top: 20px;
}

.margin-bottom {
	margin-top: 20px;
}

.notify__wrapper__spinach {
	background-image: url('/images/uhlb/notify/background-spinach-ultimate-bundles.png');
	background-repeat: no-repeat;
}

.next {
	margin: 0 auto;
	max-width: 600px;
}
